<!DOCTYPE html>
<html ng-app='home'>
  <head>
    <meta charset="utf-8">
    <!-- to ensure proper rendering and zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fantasy Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Compiled and minified jquery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!-- COmpiled jquery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- CDN for minified angular js 1.6-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js'></script>
    <!-- Font for the website-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400|Fresca|Neuton:800|Paytone+One" rel="stylesheet">
    <link rel="stylesheet" href="CSS/home.css">
    <script src='JS/home.js'></script>
	<script src="http://www.webglearth.com/v2/api.js"></script>
	<script>

    </script>
  </head>
  <body onload="initialize()" ng-controller='homeCtrl'>
      <div id="location-canvas">
        <div class='location-box' id="location-list">
          <ul class='location-list-class'>
			<li style="background-image:url('{{x.url}}')" ng-repeat="x in locations" ng-click='transformMap(x.country)' >{{x.country}}</li>
          </ul>
        </div>
        <div id="location-button">
            <span class='glyphicon glyphicon-chevron-right location-btn' style='color:white'></span>
        </div>
      </div>
      <div id='user-menu-canvas'>
        <div id='user-menu-button'>
            <span class='glyphicon glyphicon-chevron-left user-menu-btn'></span>
        </div>
        <div id='user-menu-box'>
          <ul id='user-menu-list'>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
      </div>
	  <div id="container" ng-style="{'height':windowHeight,'width':windowWidth}" class="container-fluid">
		<div id="left-door">
			<button id="left-open-btn" class="btn btn-primary" onclick="opendoor()">Lets</button>
		</div>
		<div id="right-door">
			<button id="right-open-btn" class="btn btn-primary" onclick="opendoor()">Go</button>
		</div>
		<header>
			<h1 class='text-center'>Fantasy Football League</h1>
		</header>
		<div id="main">
			<div id="map-container" class='col-md-4'>
					<div id="earth_div" style="width:400px;height:400px;background-image:url('Assets/Images/stars.jpg');"></div>
				</div>
			<div class='col-md-4'>
				<div id="club-container">
            <ul class="squadList">
              <li ng-repeat='x in playersData' class='singlePlayerName' ng-click='displayPlayerSlot(x.name)'>{{x.name}}</li>
            </ul>
				</div>
			</div>
			<div class='col-md-4'>
				<div id="squad-container">
          <img class='ground-img' src="Assets/Images/ground.jpg" alt="pitch">
          <div class="one fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="two fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="three fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="four fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="five fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="six fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="seven fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="eight fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="nine fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="ten fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
          <div class="eleven fieldNames" ng-click='fillPlayerSlot()'>{{nameOfPlayer}}</div>
				</div>
			</div>
		</div>
		<footer>
		</footer>
	</div>
	</div>
  </body>
</html>
